<%= render 'header' %>

<div class="sign_in">
<h2>Inloggen</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="white_field">
  <%= f.email_field :email, :placeholder => "Emailadres"%>
  <%= f.password_field :password, :placeholder => "Wachtwoord" %>
</div>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
</div>

<%= render :partial => "devise/shared/links" %>